:root {
  --color-accent: oklch(85% 0.1 215);
  color-scheme: light dark;
}

body {
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;
  font: 100%/1.5 system-ui;
  accent-color: var(--color-accent);

  nav {
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    margin-bottom: 1.5em;
    border-bottom: 1px solid oklch(80% 3% 200);
    border-bottom-color: var(--border-color);

    ul {
      display: contents;

      li {
        display: contents;
      }
    }
  }

  nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  }

  nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
  }

  nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 29%);
  }

  form {
    font: inherit;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;

    label {
      font: inherit;
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
    }

    input, textarea {
      font: inherit;
    }

    button {
      font: inherit;
      grid-column: 1 / -1;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    text-wrap: balance;
  }

  h1 {
    font-size: 300%;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

    article {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 4;
      gap: 1em;

      h2 {
        margin: 0;
      }

    }
  }

  header.resume {
    border-bottom: 2px solid oklch(0% 0% 358);

    a {
      text-decoration: none;
    }
  }

  article.bs,
  article.intern,
  article.leadership,
  article.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    ul {
      font: inherit;
      display: grid;
      grid-template-columns: subgrid;
    }
  }

  header.resume h2,
  #education h2,
  #work_experience h2,
  #leadership_experience h2,
  #skills h2 {
    font-size: 200%;
    color: oklch(53% 0.1 236);
  }

}

.color-scheme{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

select{
  font-family: inherit;
}

dl{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

dt{
  font-size: 90%;
  color: gray;
  grid-row: 1;
}

dd{
  grid-row: 2;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;
  
  overflow: visible;
  }