:root {
  --color-accent: oklch(85% 0.1 215);
  color-scheme: light dark;
}

body {
  max-width: 100ch;
  margin-inline: auto;
  padding: 1rem;
  font: 100%/1.5 system-ui;
  accent-color: var(--color-accent);

  nav {
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    margin-bottom: 1.5em;
    border-bottom: 1px solid oklch(80% 3% 200);
    border-bottom-color: var(--border-color);

    ul {
      display: contents;

      li {
        display: contents;
      }
    }
  }

  nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
  }

  nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em;
  }

  nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em;
    background-color: color-mix(in oklch, var(--color-accent), canvas 29%);
  }

  form {
    font: inherit;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;

    label {
      font: inherit;
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
    }

    input,
    textarea {
      font: inherit;
    }

    button {
      font: inherit;
      grid-column: 1 / -1;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    text-wrap: balance;
  }

  h1 {
    font-size: 300%;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;

    article {
      display: grid;
      grid-template-rows: subgrid;
      grid-row: span 4;
      gap: 1em;

      h2 {
        margin: 0;
      }

    }
  }

  header.resume {
    border-bottom: 2px solid oklch(0% 0% 358);

    a {
      text-decoration: none;
    }
  }

  article.bs,
  article.intern,
  article.leadership,
  article.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    ul {
      font: inherit;
      display: grid;
      grid-template-columns: subgrid;
    }
  }

  header.resume h2,
  #education h2,
  #work_experience h2,
  #leadership_experience h2,
  #skills h2 {
    font-size: 200%;
    color: oklch(53% 0.1 236);
  }

}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

select {
  font-family: inherit;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

dt {
  font-size: 90%;
  color: gray;
  grid-row: 1;
}

dd {
  grid-row: 2;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

span.swatch {
  width: 15px;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  gap: 5px;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}


.container {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
  list-style: none;
}

.legend {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  flex: 1;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 50%;
  padding: 0.5em;

}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.searchBar {
  padding: 8px;
  display: grid;
  width: 100%;
  margin-bottom: 20px;
}

.stats {
  font: inherit;
  padding: 10px;
  border: 1px solid #ccc;
}

#stats dl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#stats dt{
  display: flex;
  justify-content: center;
}

#stats dd{
  display: flex;
}

#language-breakdown.stats dt{
  display: flex;
  text-transform: uppercase;
  justify-content: center;
}

#language-breakdown dd {
  display: flex;
  justify-content: center;
}

#language-breakdown.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  border: none;
}

.gridlines line {
  stroke: #d3d3d3;
  /* Light gray color */
  stroke-width: 1px;
  opacity: 1;
  z-index: 0;
}

.gridlines .domain {
  stroke: #ffffff;
}

dl.info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin: 0;
  padding: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1em;
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

dl.info dt {
  display: flex;
  margin: 0;
  font-weight: normal;
  color: #666;

}

dl.info dd {
  display: flex;
  margin: 0;
  font-weight: bold;
  color: #333;
}

circle {
  transition: 200ms;
  transform-origin: cetner;
  transform-box: fill-box;
}

circle:hover {
  transform: scale(1.5);
}

circle.selected {
  fill: #ff6b6b;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8;
    /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}